* {
  margin: 0px;
  padding: 0px;
  font-family: "Space Mono", monospace;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}

.image {
  width: 40%;
}

.img {
  margin: 0 auto;
  width: 90%;
  height: 90%;
}
.text-and-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-heading {
  font-size: 50px;
  width: 550px;
  color: #333333;
}

.text-paragraph {
  color: #4f4f4f;
  width: 400px;
  font-size: 24px;
}

.btn {
  height: 68px;
  width: 216px;
  left: 740px;
  top: 663px;
  border-radius: 0px;
  font-size: 16px;
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.error-message {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #333333;
}

.error-message p {
  margin: 0px 0px 0px 80px;
  font-size: 24px;
  font-weight: bold;
}

.text {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.last-section p {
  text-align: center;
  color: #bdbdbd;
}

@media only screen and (max-width: 992px) {
  .text-heading {
    font-size: 30px;
    width: 450px;
    color: #333333;
  }
  .text-paragraph {
    color: #4f4f4f;
    width: 300px;
    font-size: 16px;
  }
  .btn {
    height: 40px;
    width: 156px;
    left: 740px;
    top: 663px;
    border-radius: 0px;
    font-size: 12px;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60%;
  }
  .img {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 90%;
    height: 90%;
  }
  .image {
    width: 100%;
  }
  .text-and-button {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-heading {
    font-size: 20px;
    width: 100%;
    color: #333333;
  }
  .text-paragraph {
    color: #4f4f4f;
    width: 300px;
    font-size: 12px;
  }
  .btn {
    margin-top: 5%;
  }
  .error-message p {
    font-size: 16px;
    height: 50px;
    margin-left: 10%;
  }
}
